{% load static %}
<!--footer-->
    <div class="container-fluid blog-sb-widgets page-styling site-footer" style="background-color:#242424;">
        <div class="row">
            
<div class="container-fluid page-styling site-header-before" style="background-color: #242424;">
    <div class="row">
        <div class="col-lg-4">
            <ul class="links_list links_list-align-left align-center-desktop topbar-social">
                <li>
                    <p class="links_list-value">
                        <a style="right: 50px;" href="http://facebook.com" target="_blank" rel="nofollow">
                            <i  class="fa fa-facebook"></i>
                        </a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-lg-8">
            <ul class="links_list links_list-align-right align-center-desktop topbar-contacts">
                <li>
                    <p class="links_list-label">
                        Dirección
                    </p>
                    <p class="links_list-value">
                        <a href="http://maps.google.com" target="_blank" rel="nofollow">Costa Azul Acapulco Guerrero</a>
                    </p>
                </li>
                <li>
                    <p class="links_list-label">
                        Contacto
                    </p>
                    <p class="links_list-value">
                        <a href="mailto:support@email.com">smartfood@gmail.com</a>
                    </p>
                </li>
                <li>
                    <p class="links_list-label">
                        Telefono
                    </p>
                    <p class="links_list-value">
                        <a href="tel:4785929899">7443107343</a>
                    </p>
                </li>
            <div class="col-sm-12 col-md-4 widget align-center-tablet f-logo-wrap">
                <a href="index.html" class="f-logo">
                    <img src="{% static 'img/logo.png' %}" alt="">
                    
     </div>
            </ul>
            
        </div>

    </div>
    
</div> 
        </div>
    </div>